@font-face {
  font-family: roboto;
  src: url('Roboto-Bold.ttf');
}

html, body{
	margin: 0;
	padding: 0;
	font-family: roboto;
}

h1.title{
	font-size: 5rem;
    padding: 5% 10%;
    background: #101820;
    margin: 0;
    color: white;
    text-align: center;
}

h1.title img{
	width: 23%;
	vertical-align: middle;
	margin-left: 2%;
}

.roundBorder{
	border-radius: 25px;
}

section{
	background-image: url('images/fondo.png');
	background-size: 100% 100%;
	text-align: center;
	padding: 6%;
}

section #inTankToday, section #outLaundryToday, section #relationOutLaundry, section #consumptionMonth, section #relationPrevMonth,
section #maximumConsumptionHours{
	background: white;
	display: inline-block;
	width: 48%;
}

section #outLaundryToday{
	margin-left: 3%;
}

section #inTankToday h2, section #outLaundryToday h2, section #relationOutLaundry h2, section #consumptionMonth h2,
section #relationPrevMonth h2, section #maximumConsumptionHours h2{
	display: block;
	font-size: 2.3em;
	margin: 25px 0;
}

section #inTankToday h1, section #outLaundryToday h1, section #relationOutLaundry h1, section #consumptionMonth h1,
section #relationPrevMonth h1, section #maximumConsumptionHours h1{
	display: block;
	font-size: 10.5em;
    margin: 0;
}

section #relationPrevMonth img{
	width: 7%;
    margin-right: 3%;
    vertical-align: middle;
}

section #relationOutLaundry, section #consumptionMonth, section #relationPrevMonth, section #maximumConsumptionHours{
	width: 100%;
    margin-top: 4%;
}

footer{
	text-align: center;
}

footer img{
	width: 10%;
    margin-right: 4%;
    vertical-align: middle;
    margin-top: 1%;
}

footer img:nth-child(3){
	width: 20%;
}

footer img:last-child{
	width: 16%;
    margin-right: 0;
}


